@use '../custom' as *;
@use '../mixins' as m;

.btn-strong {
    @include button-variant($amarillo , transparent, $oscuro, darken($amarillo, 10%), transparent);
    @include button-size(.4rem, 2rem, 1.8rem, 0rem);
    font-weight: 700;
    text-decoration: none;
    display: block;

    @include media-breakpoint-up(md) {
        display: inline-block;
    }
}

// .boton-plan {
//     @extend .btn-header;
//     border: 1px solid $white;

//     @include media-breakpoint-up(md) {
//         display: block;
//     }
// }